body {
    margin: 0;
}


/* Navbar */

.navbar {
    display: flex;
    background-image: linear-gradient(#272727, #000000);
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 5rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 10%;
}

    .logo a {
        color: #FFF;
    }

        .logo a:hover {
            transition: 500ms;
            color: #6F6F6F;
            text-decoration: none;
        }

.navbar-links {
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 50%;
}

    .navbar-links ul {
        padding-top: 1.4rem;
        display: flex;
    }

        .navbar-links ul li {
            list-style: none;
            margin: 0 0 0 3rem;
        }

            .navbar-links ul li a {
                color: #FFF;
            }

                .navbar-links ul li a:hover {
                    transition: 500ms;
                    color: #6F6F6F;
                    text-decoration: none;
                }

/* Index */

.index-lancamentos-label {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

.index-lancamentos-jogos-div {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
}

.index-jogo {
    text-align: center;
    border-style: groove;
    padding: 1rem 3rem 1rem 3rem;
    margin: 2rem 4rem;
    color: #000;
    text-decoration: none;
    border-color: #B3B3B3;
}

    .index-jogo:hover {
        transition: 200ms;
        background: #E7E7E7;
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }

.index-jogo-name {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1.5rem;
}

.index-jogo-platform{
    font-size: 2rem;
    margin: 1.5rem;
}

.index-jogo-price {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.index-foto img{
    height: 300px;
    width: 300px;
}

.index-mais-vendidos-label {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
}

/* Jogos */

#game-display {
    display: flex;
    margin-top: 2rem;
    padding: 2rem 1rem;
    justify-content: space-between;
    background: #F3F3F3;
    color: #000;
    text-decoration: none;
}

    #game-display:hover {
        transition: 200ms;
        border: groove;
        border-color: #A1A1A1;
        cursor: pointer;
    }

.game-name-platform{
    display: flex;
}

.game-name{
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.game-platform {
    font-size: 2rem;
}

.game-price {
    font-size: 2rem;
    font-weight: bold;
}

/* Details */

.voltar-button-div {
    text-align: center;
    margin-top: 3rem;
}

.voltar-button {
    background: #FFF;
    border-radius: 1.5rem;
    padding: 2rem 4rem;
}

.voltar-button a{
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.voltar-button a:hover{
    text-decoration: none;
    color: white;
}

    .voltar-button:hover {
        transition: 500ms;
        text-decoration: none;
        background: #E7E7E7;
    }

.details-dl{
    text-align: center;
    margin: 2rem;
}

.details-label {
    font-size: 3rem;
}

.details-information {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* footer */
footer {
    background-image: linear-gradient(#272727, #000000);
    padding: 2rem;
}


.footer-div {
    display: flex;
    text-align: center;
}

.assinatura-div {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
}

.assinaturas-div-label{
    margin: 1rem;
}

.assinatura-button {
    color: #FFF;
    background: #2f82fb;
    padding: 1.4rem;
    border-radius: 1rem;
    border-color: #272727;
}

    .assinatura-button:hover {
        transition: 500ms;
        color: #2f82fb;
        background: #FFF;
    }

.redes-sociais-div {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20%;
    padding-top: 1rem;
}

.footer-icones {
    margin: 1rem 0 0 30%;
    display: flex;
}

.footer-icones a{
    padding: 0 0.5rem;
}

#socialmedia-icons {
    color: #FFF;
    font-size: 40px;
    padding-right: 3rem;
}

    #socialmedia-icons:hover {
        transition: 500ms;
        text-decoration: none;
        color: #6F6F6F;
    }

#gow-mais-vendidos {
    padding-top: 4rem;
}

#eldenring-mais-vendidos {
    padding-top: 2rem;
}