body {
    margin: 0;
}


/* Navbar */

.navbar {
    display: flex;
    background-image: linear-gradient(#272727, #000000);
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 5rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 10%;
}

    .logo a {
        color: #FFF;
    }

        .logo a:hover {
            transition: 500ms;
            color: #05E9E6;
            text-decoration: none;
        }

.navbar-links {
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 50%;
}

    .navbar-links ul {
        padding-top: 1.4rem;
        display: flex;
    }

        .navbar-links ul li {
            list-style: none;
            margin: 0 0 0 3rem;
        }

            .navbar-links ul li a {
                color: #FFF;
            }

                .navbar-links ul li a:hover {
                    transition: 500ms;
                    color: #05E9E6;
                    text-decoration: none;
                }

/* Index */

.index-lancamentos-label {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

.index-lancamentos-jogos-div {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
}

.index-jogo {
    text-align: center;
}

.index-jogo-name {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1.5rem;
}

.index-jogo-platform{
    font-size: 2rem;
    margin: 1.5rem;
}

.index-jogo-price {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
